{% extends "base.html" %}

{%load static%}

{% block title %}About{% endblock %}
{% block main %}
                        <article class="blog-item">
                            <img src="{% static 'img/trip-planting-process.png' %}" width="80%" height="80%">
                        <p>
                            Do you love travelling? Do you love planning your trips yourself?
                            <br>
                            <br>
                            Well, tripPlanter is here to help you!
                            <br>
                            <br>
                            Now, your trips are not only planned but also planted for the others to see, use
                            and evolve!
                            <br>
                            <br>
                            No more worrying about your next stop! No more thinking about where you will go!
                            <br>
                            <br>
                            Now other people can provide you with seeds for thought.
                            <br>
                            <br>
                            And don't forget: Here you trip what you sow!
                        </p>


                        </article> <!-- /.blog-item -->


{% endblock %}

{% block sidebar %}

                            <!-- search option -->
                            <div>
                                <h1>The Team</h1>
<img src="{% static 'img/team-photo.jpeg' %}" width="100%" height="100%">
                                <ul>
                                    <h2><li><h2>Angelos Constantinides</li></h2>
                                    <h2><li>Dimitrios Kykeridis</li></h2>
                                    <h2><li>Fotis Savva</li></h2>
                                    <h2><li>Zoe Gerolemou</li></h2>
                                </ul>
                            </div> <!-- /.share-widget -->
{% endblock %}
