<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Add a Category</h1>

       <p>
           {% if errors %}
               {{ errors }}
           {% endif %}
       </p>
        <form method="post" id="myform">
                    {% csrf_token %}
        <select multiple="multiple" id ="places" name="places">

        </select>
                        <input type="submit" value="Submit now" />

</form>
 <button id="addElement">Click me</button>

    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js'%}"></script>
     <script>
        $(document).ready(function () {
        $( "#addElement" ).click(function() {

});

    </script>
    </body>

</html>