{% extends "base.html" %}

{%load static%}

{% block title %}Explore{% endblock %}
{% block main %}
                        <article class="blog-item">
 TRIP 1
                        </article> <!-- /.blog-item -->


                        <article class="blog-item">
 TRIP 2
                        </article> <!-- /.blog-item -->

{% endblock %}

{% block sidebar %}

                            <!-- search option -->
                            <div>
    SIDEBAR CODE HERE
                            </div> <!-- /.share-widget -->
{% endblock %}
