{% extends "base.html" %}

{%load static%}

{% block title %}Plan{% endblock %}
{% block main %}

    <div id="map-canvas"></div>
    <div class="input-group">
        <input id="new-dest-text" type="text" class="form-control" placeholder="Additional Destination">
      <span class="input-group-btn">
        <button id="new-dest" class="btn btn-default" type="button">New City to Visit</button>
      </span>    </div>
{% endblock %}

{% block sidebar %}

    <!-- search option -->
    <div>
        <p>
            {% if errors %}
                {{ errors }}
            {% endif %}
        </p>
        <form class="form-group" method="post" id="myform">
            {% csrf_token %}
            {% for hidden in tripForm.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in tripForm.visible_fields %}
                <fieldset class="form-group">
                    {{ field.errors }}
                    <label for="{{ field.html_name }}">{{ field.help_text }}</label>
                    {{ field }}
                </fieldset>
            {% endfor %}
            <fieldset class="form-group">
                <label for="places">List of visiting places :</label>
                <select class="form-control" multiple="multiple" id ="places" name="places">
                </select>
            </fieldset>


            <input type="submit" class="btn btn-default" value="Submit now" />
        </form>
        <div class="btn-group" role="group" aria-label="...">
            <button id="last" type="button" class="btn btn-default">Clear Last</button>
            <button id="all" type="button" class="btn btn-default">Clear All</button>

        </div>
    </div> <!-- /.share-widget -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvQW0hONU01G0pfrJZ1nZRZuulSY4rG2I&libraries=places"></script>
    <script type="text/javascript" src="{% static 'js/map_initialize.js' %}"></script>
    <script>
        $(window).load(function () {
            initialize();

            var markers = [];
            {% for place in places %}
                markers.push({
                    "type": "{{ place.type }}",
                    "description": "{{ place.description }}",
                    "id":{{ place.id }},
                    "price":{{ place.price }},
                    "name": "{{ place.name }}",
                    "lat": {{ place.lat }},
                    "lng": {{place.lon}}
                });
            {% endfor %}
            add_marker(markers);

        });
    </script>

{% endblock %}
