{% extends "base.html" %}

{%load static%}

{% block title %}Plan{% endblock %}
{% block main %}
     <style type="text/css">
    html, body, .container-fluid, .row, .map { height: 100% }

#map-canvas {
	width:100%;
    height: 100%;
 	height:calc(100% - 0px);
}
  </style>

                      <div id="map-canvas"></div>
{% endblock %}

{% block sidebar %}

                            <!-- search option -->
                            <div>
                            SIDEBAR CODE HERE
                            </div> <!-- /.share-widget -->
{% endblock %}
