{% extends "base.html" %}

{%load static%}

{% block title %}Summary{% endblock %}
{% block main %}
    {% if places %}
        {{ trip.planner }}
        {% for place in places %}
            <article class="blog-item">
                {{ place.name }}
            </article> <!-- /.blog-item -->
        {% endfor %}
    {% else %}
        <article class="blog-item">
            Trip Does Not exist or Does Not have any associated places
        </article>
    {% endif %}

{% endblock %}

{% block sidebar %}

                            <!-- search option -->
                            <div>
    SIDEBAR CODE HERE
                            </div> <!-- /.share-widget -->
{% endblock %}
